// CSS to reset the browser default styles

// Always hide element with hidden attribute.
*[hidden] {
  display: none;
}

// 1. Take the entire screen.
html {
  width: 100%; // 1
  height: 100%; // 1
  color: $dark-primary-text-color;
}

// 1. Take the entire screen.
// 2. Remove margin
body {
  width: 100%; // 1
  min-height: 100%; // 1
  margin: 0; // 2
}

// 1. Show text content immediately instead of waiting for the desired font to load
html,
body {
  font-family: "Helvetica", "Arial", sans-serif; // 1
  font-size: $body;
  font-weight: 400;
}

button {
  cursor: pointer;
}
