// CSS to reset the browser default styles

// Always hide element with hidden attribute.
*[hidden] {
  display: none;
}

// 1. Take the entire screen.
html {
  width: 100%; // 1
  height: 100%; // 1
}

// 1. Take the entire screen.
// 2. Remove margin
body {
  margin: 0; // 2
  min-height: 100%; // 1
  width: 100%; // 1
}

button {
  cursor: pointer;
}
